[Desktop Entry]
Name=LAB TOOL
Comment=LAB TOOL Program
Encoding=UTF-8
Exec=bash -c "xhost + && docker exec -u ubuntu -w /home/ubuntu ainex /bin/zsh -c 'bash ~/software/lab_tool/lab_tool.sh'"
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
Icon=/home/pi/ainex/lab.ico
